@page "/security/detailsuser/{Id}"
@inject UserService UserService
@using LoginShared
@using LoginBlazor2.Security.Services
@using LoginShared.Security.DTOs
@inject NavigationManager NavigationManager

@if (user == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div class="content__boxed">
        <div class="content__wrap">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <div class="card">
                        <div class="card-body pt-2">
                            <h3 class="card-title">@user.Name</h3>
                            <hr/>
                            <dl class="row">
                                <dt class="col-sm-2">Name</dt>
                                <dd class="col-sm-10">@user.Name</dd>

                                <dt class="col-sm-2">Last Name</dt>
                                <dd class="col-sm-10">@user.LastName</dd>

                                <dt class="col-sm-2">Email</dt>
                                <dd class="col-sm-10">@user.Email</dd>

                                <dt class="col-sm-2">Puesto</dt>
                                <dd class="col-sm-10">@user.Puesto</dd>

                                <dt class="col-sm-2">Department</dt>
                                <dd class="col-sm-10">@user.Department</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Id { get; set; }

    private GetUserDto? user;

    protected override async Task OnInitializedAsync()
    {
        var users = await UserService.GetUsers();
        user = await UserService.GetUserById(Id);
        
        if (user == null)
        {
            NavigationManager.NavigateTo("/security/users");
        }
        
    }
}
