@page "/security/detailsuser/{Id}"
@inject UserService UserService
@using LoginShared
@using LoginBlazor2.Security.Services
@using LoginShared.Security.DTOs
@inject NavigationManager NavigationManager

@if (user == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div class="content__boxed">
        <div class="content__wrap">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body pt-2">
                            <h3 class="card-title text-center">@user.Name</h3>
                            <hr/>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <strong>Nombre:</strong>
                                    </td>
                                    <td>@user.Name</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Apellido:</strong>
                                    </td>
                                    <td>@user.LastName</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Email:</strong>
                                    </td>
                                    <td>@user.Email</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Puesto:</strong>
                                    </td>
                                    <td>@user.Puesto</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Departmento:</strong>
                                    </td>
                                    <td>@user.Department</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Id { get; set; }

    private GetUserDto? user;

    protected override async Task OnInitializedAsync()
    {
        var users = await UserService.GetUsers();
        user = await UserService.GetUserById(Id);

        if (user == null)
        {
            NavigationManager.NavigateTo("/security/users");
        }
    }

}